<h2>Studio List</h2>

<div class="controls">
  <input
    type="text"
    placeholder="Search studios..."
    (input)="onSearchInputChange($event)"
    list="studio-suggestions" />
  <datalist id="studio-suggestions">
    <div *ngFor="let suggestion of searchSuggestions()">
      <option [value]="suggestion"></option>
    </div>
  </datalist>
</div>

<div *ngIf="filteredStudios().length > 0">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Amenities</th>
        <th>Price per Hour</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let studio of filteredStudios()">
        <td>{{ studio.name }}</td>
        <td>{{ studio.type }}</td>
        <td>{{ studio.location.address }}</td>
        <td>{{ studio.amenities }}</td>
        <td>{{ studio.pricePerHour | currency }}</td>
        <td>{{ studio.rating }}</td>
        <td>
          <button
            class="bg-green-200 p-2"
            (click)="bookingModalOpen.set(true); selectedStudio.set(studio)">
            book now
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p *ngIf="!filteredStudios().length">No studios available.</p>
<app-modal
  [show]="bookingModalOpen()"
  title="Confirm Booking?"
  (close)="bookingModalOpen.set(false)">
  <div class="flex flex-col">
    <span>Are you sure you want to confirm booking this studio?</span>
    <button
      class="bg-green-200 px-2 py-1 rounded-lg ml-auto"
      (click)="bookStudio()">
      Confirm
    </button>
  </div>
</app-modal>
